<header class="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand font-weight-bold text-uppercase" href="/">Matura 2009</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapse">
                <% if(session.loggedIn) { %>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mx-1">
                        <a class="nav-link" href="/contacts">List</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link" href="/logs">Logs</a>
                    </li>
                </ul>
                <%}%>
                <ul class="navbar-nav ml-auto">
                    <% if(!session.loggedIn) { %>
                    <li class="nav-item mx-1">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <% } else { %>
                    <li class="nav-item mx-1">
                        <a id="logout" href="javascript:void(0)" class="nav-link">Logout</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
</header>

<script src="//code.jquery.com/jquery-3.2.1.js"></script>

<script>
    $('#logout').click(function () {
        $.ajax({
            url: '/api/logout',
            type: 'POST',
            success: function (result) {
                window.location = '/login';
            },
        });
    })
</script>
