<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>404 Not Found</title>

    <link href="//fonts.googleapis.com/css?family=Hind:500,700" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="text-center d-flex">
        <div class="align-self-center w-100">
            <h1>404 Not Found</h1>
            <h5 class="text-muted">The requested URL was not found on this server</h5>
            <h5><a href="/">Take me back</a></h5>
        </div>
    </div>
</body>
</html>