<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title><%= title %></title>

    <link href="//fonts.googleapis.com/css?family=Hind:500,700" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="text-center d-flex h-100">
        <div class="align-self-center w-100">
            <h1><%= title %></h1>
            <h5 class="text-muted">Internal Server Error</h5>
        </div>
    </div>
</body>
</html>
