<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Martin Fink">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Add | Matura 2009</title>

    <link href="//fonts.googleapis.com/css?family=Hind:500,700" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
</head>

<body>

<% include ../partials/toolbar.ejs %>

<main class="container">

    <h1>Add contact</h1>

    <form id="contact" action="/api/contacts" method="post" class="mt-5">
        <div class="form-group">
            <label class="control-label" for="first_name">First name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First name" required>
        </div>

        <div class="form-group">
            <label class="control-label" for="last_name">Last name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last name" required>
        </div>

        <div class="form-group">
            <label class="control-label" for="address">Address</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="Enter address">
        </div>

        <div class="form-group">
            <label class="control-label" for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>

        <div class="form-group">
            <label class="control-label" for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone_number" placeholder="Enter phone number">
        </div>

        <div class="form-group">
            <input type="submit" id="submit" class="btn bg-dark text-white" value="Add">
        </div>

        <span id="error"></span>
    </form>
</main>

<script>
    function reset(form) {
        $('#password').text('');
        form.find(":input").prop("disabled", false);

        $("#submit")
            .attr("class", "btn bg-dark text-white")
            .val("Add")
            .prop("disabled", false);
    }

    $(document).ready(function () {
        var isSubmitting = false;

        $('#contact').on('submit', function (e) {
            e.preventDefault();

            if (isSubmitting)
                return;

            var data = $(this).serialize()
            var form = $(this);

            form.find(":input").prop("disabled", true);

            $("#submit")
                .attr("class", "btn btn-info")
                .val("Submitting...")
                .prop("disabled", false);

            $.ajax({
                url: '/api/contacts',
                type: 'POST',
                data: data,
                success: function (result) {
                    console.log(result);

                    if (!result.success) {
                        $('#error').text(result.message || 'Error submitting contact, please retry.');
                    }

                    reset(form)
                },
                error: function (request, status, error) {
                    console.log(error);

                    $('#error')
                        .val('Error submitting contact, please retry.')

                    isSubmitting = false

                    reset(form)
                }
            });
        })
    });
</script>

</body>
