<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Moriz Martiner">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Matura 2009</title>

    <link href="//fonts.googleapis.com/css?family=Hind:500,700" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
</head>

<body>

<% include ../partials/toolbar.ejs %>

<main class="container">
    <h1>Welcome</h1>

    <p>You are logged in as <strong><%= email %></strong>.</p>

    <h2>Actions</h2>
    <ul>
        <li><a href="/contacts">List</a></li>
        <li><a href="/contacts/add">Add contact</a></li>
    </ul>
</main>

</body>
