<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Martin Fink">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>List | Matura 2009</title>

    <link href="//fonts.googleapis.com/css?family=Hind:500,700" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
</head>

<body>

<% include ../partials/toolbar.ejs %>

<main class="container">

    <h1>Contacts</h1>

    <form id="search" class="form-inline">
        <label for="query">Search: &nbsp;</label>
        <input type="text" name="query" id="query">

        <input type="submit" id="login" value="Search">
    </form>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
        <% for (let i = 0; i < data.length; i++) { %>
        <% const elem = data[i]; %>
        <tr id="contact-<%= elem.id %>">
            <td><%= elem.id %></td>
            <td><%= elem.first_name + ' ' + elem.last_name %></td>
            <td><%= elem.address %></td>
            <td><a href="mailto:<%= elem.email %>"><%= elem.email %></a></td>
            <td><a href="tel:<%= elem.phone_number %>"><%= elem.phone_number %></a></td>
            <td><a onclick="delete_contact(<%= elem.id %>)" href="javascript:void(0)" class="action-delete">Delete</a>
            </td>
        </tr>
        <% } %>
    </table>
</main>

<script>
    function delete_contact(id) {
        $.ajax({
            url: '/api/contacts/' + id,
            method: 'DELETE',
            success: function (result) {
                if (result.success) {
                    $('#contact-' + id).remove();
                } else {
                    console.log(result);
                }
            },
            error: function (request, status, error) {
                console.log(error);
            }
        });
    }

    $(document).ready(function () {
        $('#search').on('submit', function (e) {
            e.preventDefault();

            var input = $(this).find('input[name=query]').val();

            window.location = '/contacts/' + encodeURI(input);
        })
    });
</script>

</body>
