<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Moriz Martiner">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Login | Matura 2009</title>

    <link href="//fonts.googleapis.com/css?family=Hind:500,700" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
</head>

<body>

<% include ../partials/toolbar.ejs %>

<main class="container col-md-6 col-md-offset-3 py-0 py-md-5">
    <header>
        <h1>Login</h1>
    </header>
    <form id="login" action="/api/login" method="post" class="mt-5">
        <div class="form-group">
            <label class="control-label" for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
        </div>

        <div class="form-group">
            <label class="control-label" for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"
                   required>
        </div>

        <div class="form-group">
            <input type="submit" id="submit" class="btn bg-dark text-white" value="Login">
        </div>

        <span id="error"></span>
    </form>

</main>

<script>
    function reset(form) {
        $('#password').text('');
        form.find(":input").prop("disabled", false);

        $("#submit")
            .attr("class", "btn bg-dark text-white")
            .val("Login")
            .prop("disabled", false);
    }

    $(document).ready(function () {
        var isLoggingIn = false;

        $('#login').on('submit', function (e) {
            e.preventDefault();

            if (isLoggingIn)
                return;

            var data = $(this).serialize()
            var form = $(this);

            form.find(":input").prop("disabled", true);

            $("#submit")
                .attr("class", "btn btn-info")
                .val("Logging in...")
                .prop("disabled", false);

            $.ajax({
                url: '/api/login',
                type: 'POST',
                data: data,
                success: function (result) {
                    console.log(result);

                    if (result.success) {
                        window.location = '/';
                    } else {
                        $('#error').text(result.message || 'Error logging in, please retry.');
                    }

                    reset(form)
                },
                error: function (request, status, error) {
                    console.log(error);

                    $('#error')
                        .val('Error logging in, please retry.')

                    isLoggingIn = false

                    reset(form)
                }
            });
        })
    });
</script>

</body>