<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Martin Fink">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>List | Matura 2009</title>

    <link href="//fonts.googleapis.com/css?family=Hind:500,700" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
</head>

<body>

<% include ../partials/toolbar.ejs %>

<main class="container">

    <h1>Logs</h1>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        <% for (let i = 0; i < data.length; i++) { %>
        <% const item = data[data.length - i - 1]; %>
            <tr>
                <td><%= item.id %></td>
                <td><%= new Date(item.timestamp).toString() %></td>
                <td><a href="mailto:<%= item.user %>"><%= item.user %></a></td>
                <td><%= item.action %></td>
            </tr>
        <% } %>
    </table>
</main>

</body>
